.card {
    background: #F8F9FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 320px;
    height: 87px;
    margin-bottom: 20px;
    margin-left: -40px;
}

@media(min-width:1024px) {
    .card {
        width: 560px;
    }
}

.entry {
    background-color: #03B898;
    color: #03B898;
    border-radius: 4px 0px 0px 4px;
    width: 4px;
    height: 87px;
}

.expense {
    background: #E9ECEF;
    color: #E9ECEF;
    border-radius: 4px 0px 0px 4px;
    width: 4px;
    height: 87px;
}

.card-description {
    width: 150px;
    height: 87px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 14px;
}

.description {
    height: 39px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #212529;
    margin-bottom: -10px;
}

@media(min-width:1024px) {
    .description {
        margin-top: 5px;
    }
}

.type {
    color: #343A40;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}

.card-value {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 5px;
}

@media(min-width:1024px) {
    .card-value {
        margin-left: 205px;
        margin-top: -20px;
    }
}

.value {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #212529;
    margin-right: 30px;
}

@media(min-width:1024px) {
    .value {
        margin-right: 50px;
        width: 102px;
        height: 22px;
    }
}

.remove {
    background: #E9ECEF;
    border-radius: 2.46154px;
    border: none;
    cursor: pointer;
}