.container {
  background: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@media(min-width:1024px) {
  .container {
    flex-direction: row;
  }
}

.App-log {
  width: 100vw;
  margin-top: 60px;
  line-height: 48px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media(min-width:1024px) {
  .App-log {
    width: 347px;
    margin-right: 48px;
  }
}

.logo {
  width: 122.68px;
  height: 19.53px;
  margin-bottom: 20px;
  margin-right: 180px;
}

.Log-paragraph {
  width: 260px;
  height: 26px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@media(min-width:1024px) {
  .Log-paragraph {
    margin-left: -50px;
  }
}

.Login {
  width: 241px;
  height: 48px;
  background: #FD377E;
  color: #FFFFFF;
  border: 2px solid #FD377E;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

@media(min-width:1024px) {
  .Login {
    margin-left: -80px;
  }
}

.Log-img {
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Log-block {
  width: 300px;
}

@media(min-width:1024px) {
  .Log-img {
    width: 593px;
    height: 593px;
  }

  .Log-block {
    width: 593px;
    height: 593px;
  }
}

.header {
  background: #F8F9FA;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

@media(min-width:1024px) {
  .header {
    gap: 650px;
  }
}

.logout-button {
  background: #E9ECEF;
  color: #343A40;
  border: 1.4px solid #E9ECEF;
  border-radius: 8px;
  width: 64px;
  height: 40px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media(min-width:1024px) {
  .App {
    flex-direction: row;
  }
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media(min-width:1024px) {
  .main-content {
    width: 562px;
    height: 459px;
    justify-content: flex-start;
    margin-left: 58px;
  }
}